<div id="banner">
	<div class="banner_content">
		<h1>NoteNote</h1>
			<p>Your online notebook, Never forget and idea again</p>
			<button>
				<%= link_to "Sign Up", new_user_registration_path %>
			</button>
	</div>
</div>

<div id="testimonial">
	<div class="wrapper">
		<p class="quote">The greatest notebook application. Period.</p>
		<p class="name">Pabst Blue Ribbon</p>
	</div>
</div>

<div id="callouts">
	<div class="callout_inner">
		<div class="wrapper">
			<div class="callout">
				<h2>Notes</h2>
				<p>Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p>
			</div>
			<div class="callout">
				<h2>Rocket</h2>
				<p>Quinoa Austin craft beer distillery pour-over small batch, mlkshk cold-pressed cred umami twee church-key. Church-key fanny pack cold-pressed drinking vinegar.</p>
			</div>
			<div class="callout">
				<h2>Lightning</h2>
				<p>Art party pug fap pop-up literally skateboard. Four loko banjo bicycle rights, cold-pressed synth vegan try-hard paleo bitters ethical wayfarers distillery. Lumbersexual slow-carb plaid PBR&B. </p>
			</div>
		</div>
	</div>
</div>

<div id="bottom_cta">
	<div class="wrapper">
		<h2>For realz!</h2>
		<p>I want you to sign up....If you don't I will find you!</p>
		<button><%= link_to "Click Me!", new_user_registration_path %></button>
	</div>
</div>

<footer>
	<p>&copy; Chris Mangano</p>
</footer>